#exampleFormControlTextarea1{
  width:800px;
  margin:auto;
  height:300px;
}

#textform{
  padding-top:79px;
  padding-bottom:72px;
}

#mytext{
  margin:auto;
  width:800px;
  font-size: larger;
}

button[type="button"]{
  margin:9px;
}

#container{
  width:700px;
  margin:auto;
  margin-top:20px;
}

#about{
  width:700px;
  margin:auto;
  margin-top:100px;
}

#about_collapse_button{
  margin-left:0px;
}

#darkMode{
  width:190px;
  margin:auto;
  margin-top:30px;
}

#alert{
  position:fixed;
  top:60px;
  width:100%;
  margin:0px;
}

.navbar_main_div{
  display:flex;
  width:100%;
  justify-content: space-between;
  padding-left:20px;
  padding-right:20px;
}

.navbar_insider_div{
  display:flex;
}